@import '../../scss/variables';
@import '../../scss/resets';

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: $transition;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.7);
}
.show {
  visibility: visible;
  z-index: 6;
  transform: scale(1);
}

.sidebar {
  position: relative;
  width: 90vw;
  height: 90vh;
  // max-width: $smallWidth;
  background: $offWhite;
  border-radius: $radius;
  box-shadow: $darkShadow;
  padding: 4rem 2rem;
  .close-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: $mainRed;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 4rem;
    max-width: 25rem;
    li {
      list-style-type: disc;
      padding-right: 2rem;
      color: $clr-primary-1;
      font-family: $font-PL;
      text-transform: capitalize;
    }
  }
  article a {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin-top: 1.5rem;
    font-family: $font-PL;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: $spacing;
  }

  article span {
    font-size: 1.5rem;
  }
}

.link {
  color: $clr-primary-2;
}

.active {
  color: $clr-primary-5;
}
@media screen and (min-width: 650px) {
  .sidebar {
    width: 80vw;
  }
}
@media screen and (min-width: 750px) {
  .sidebar {
    width: 70vw;
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (min-width: 900px) {
  .sidebar-wrapper {
    display: none;
    z-index: -5;
  }
  .sidebar {
    display: none;
    z-index: -5;
  }
  .close-btn {
    color: green;
  }
}

.sidebar-info {
  position: absolute;
  left: 0;
  bottom: 2rem;
  // margin: 0 auto;
  text-align: center;
  max-width: 25rem;
  text-transform: capitalize;
  color: $clr-primary-1;
}

@media screen and (max-width: 485px) {
  .sidebar {
    width: 80vw;
    height: 80vh;
  }
}
